.trigger {
	width: 100%;
	height: auto;
	.section {
		.name-block {
			@media (max-width: 991px){
				padding-right: 40px;
				padding-left: 40px;
			}
			@media (max-width: 767px){
				padding-right: 40px;
				padding-left: 40px;
				justify-content: flex-start;
			}
			.h2 {
				margin-top: 0px;
				margin-bottom: 10px;
				font-family: Roboto, sans-serif;
				color: #7e9c9c;
				font-size: 22px;
				line-height: 1em;
				font-weight: 100;
				letter-spacing: 0.6px;
				text-transform: none;
			}
		}
	}
}