footer.section-footer
	.footer
		.copyright
			.copy.text-info
				|&copy;&nbsp;STUDIONIONS&nbsp;2017
		ul.footer-sc-list
			li
				a(href="javascript:;" class="text-link")
					|Facebook
			li
				a(href="javascript:;" class="text-link")
					|Behance
			li
				a(href="javascript:;" class="text-link")
					|GitHub
			li
				a(href="javascript:;" class="text-link")
					|Instagramm
		.black-wite.footer-down
		.contact
			ul.contact-block
				li
					a(href="javascript:;" data-icon="whatsapp")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/whtsp.svg")
				li
					a(href="javascript:;" data-icon="wiber")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/vbr.svg")
				li
					a(href="javascript:;" data-icon="telergam")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/tg.svg")
		.black-wite.footer-down