header.navigation
	.navbar
		.container-nav
			a.brand(href="/")
				span.brand-logo
					span.brand-logo-icon
						img(src="/assets/templates/studionions/images/logo-icon.svg" alt="")
					span.brand-logo-text
						img(src="/assets/templates/studionions/images/logo-text.svg" alt="")
				span.brand-text
					|STUDIONIONS
			nav.menu
				ul.menu-list
					li.menu-list-item
						a.menu-list-item-link(href="javascript:;")
							|Гайдлайн сайта
					li.menu-list-item
						a.menu-list-item-link(href="javascript:;")
							|Команда
					li.menu-list-item
						a.menu-list-item-link(href="javascript:;")
							|Блог
					li.menu-list-item
						a.menu-list-item-link(href="javascript:;")
							|На благо
					li.menu-list-item
						a.menu-list-item-link(href="javascript:;")
							|Контакты
			.menu-button
				.menu-button-block
					.menu-button-block-line
					.menu-button-block-line
					.menu-button-block-line
							
				