header.navigation
	.navbar
		.container-nav
			a.brand(href="/")
				span.brand-logo
					span.brand-logo-icon
						img(src="/assets/templates/studionions/images/logo-icon.svg" alt="")
					span.brand-logo-text
						img(src="/assets/templates/studionions/images/logo-text.svg" alt="")
				span.brand-text
					|STUDIONIONS