head
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	title
		|[*titl*]
	|[*noIndex*]
	meta(name="title" content="[*titl*]")
	meta(name="keywords" content="[*keyw*]")
	meta(name="description" content="[*desc*]")
	meta(name="image" content="[(site_url)][*og_image*]")
	base(href="[(site_url)]")
	meta(id="ogtitle" property="og:title" content="[*titl*]")
	meta(id="ogdesc" property="og:description" content="[*desc*]")
	meta(id="ogurl" property="og:url" content="[(site_url)][~[*id*]~]")
	meta(id="ogimage" property="og:image" content="[(site_url)][*og_image*]")
	meta(property="og:site_name" content="[(site_name)]")
	meta(property="og:image:secure_url" content="[(site_url)][*og_image*]")
	script(src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" onload="webfontCalback" async)
	script(type="text/javascript")
		include webfont.js
	style
		|[!filegetcontents? &file=`assets/templates/studionions/css/main.css`!]