main.main-hero
	.heading-block
		h1.h1
			|Разрабатываем сайты, брэндинг, контент, развиваем и поддерживаем цифровые продукты.
		.black-wite
		p.paragraph_st
			|Ведем детальную работу с полным погружением в аналитику, соблюдаем сроки, максимально вовлекаем Клиента в процесс разработки...
		.black-wite
		.block-messenger
			.text-info
				|Для быстрого общения:
			ul.contact-block
				li
					a(href="javascript:;" data-icon="whatsapp")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/whtsp.svg")
				li
					a(href="javascript:;" data-icon="wiber")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/vbr.svg")
				li
					a(href="javascript:;" data-icon="telergam")
						img.contact-block-icon(data-ix="click" src="/assets/templates/studionions/images/tg.svg")