ul.tabs-menu.mixtab.clearfix
	li.link_transform.col-xs-3.active
		a.tabs-link.link_transform(href="javascript:;" data-filter="all")
			span.tabs-link-text
				|Все
	li.link_transform.col-xs-3
		a.tabs-link.link_transform(href="javascript:;" data-filter=".sites")
			span.tabs-link-text
				|Сайты
	li.link_transform.col-xs-3
		a.tabs-link.link_transform(href="javascript:;" data-filter=".brand")
			span.tabs-link-text
				|Брэнд
	li.link_transform.col-xs-3
		a.tabs-link.link_transform(href="javascript:;" data-filter=".content")
			span.tabs-link-text
				|Контент
.tabs-button
	.button