.trigger
	.section
		.name-block
			h2.h2
				|Проекты по направлениям:
		.section-tabs
			.tabs
				.tabs-wrapper
					ul.tabs-menu.mixtab.clearfix
						li.link_transform.col-xs-3.active
							a.tabs-link.link_transform(href="javascript:;" data-filter="all")
								span.tabs-link-text
									|Все
						li.link_transform.col-xs-3
							a.tabs-link(href="javascript:;" data-filter=".sites")
								span.tabs-link-text
									|Сайты
						li.link_transform.col-xs-3
							a.tabs-link.link_transform(href="javascript:;" data-filter=".brand")
								span.tabs-link-text
									|Брэнд
						li.link_transform.col-xs-3
							a.tabs-link.link_transform(href="javascript:;" data-filter=".content")
								span.tabs-link-text
									|Контент
					.tabs-button
						.button
							
				.tabs-content
					.tab-pane
						.tab-pane-content
							.col-sm-6.mix.tab-pane-content-item.sites
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_1.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Сайты
											span.icon
							.col-sm-6.mix.tab-pane-content-item.brand
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_2.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Бренд
											span.icon
							.col-sm-6.mix.tab-pane-content-item.content
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_3.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Контент
											span.icon
							.col-sm-6.mix.tab-pane-content-item.sites
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_4.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Сайты
											span.icon
							.col-sm-6.mix.tab-pane-content-item.brand
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_5.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Бренд
											span.icon
							.col-sm-6.mix.tab-pane-content-item.content
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_6.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Контент
											span.icon
						a.showlink.mt-60(href="javascript:;")
							|  