.trigger
	.section
		.name-block
			h2.h2
				|Проекты по направлениям:
		.section-tabs
			.tabs
				.tabs-wrapper
					ul.tabs-menu.clearfix
						li.link_transform.col-xs-3.active
							a.tabs-link(href="javascript:;")
								span.tabs-link-text
									|Сайты
						li.link_transform.col-xs-3
							a.tabs-link.link_transform(href="javascript:;")
								span.tabs-link-text
									|Брэнд
						li.link_transform.col-xs-3
							a.tabs-link.link_transform(href="javascript:;")
								span.tabs-link-text
									|Контент
						li.link_transform.col-xs-3
							a.tabs-link.link_transform(href="javascript:;")
								span.tabs-link-text
									|Все
					.tabs-button
						.button
							
				.tabs-content
					.tab-pane
						.tab-pane-content
							.col-6(data-filter="")
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|Текст ссылки
											span.icon