.trigger
	.section
		.name-block
			h2.h2
				|Проекты по направлениям:
		.section-tabs
			.tabs
				.tabs-wrapper
					include trigger-tabs.jade
							
				.tabs-content
					.tab-pane
						.tab-pane-content
							.col-sm-6.mix.tab-pane-content-item.sites
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_1.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Сайты
											span.icon
							.col-sm-6.mix.tab-pane-content-item.brand
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_2.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Бренд
											span.icon
							.col-sm-6.mix.tab-pane-content-item.content
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_3.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Контент
											span.icon
							.col-sm-6.mix.tab-pane-content-item.sites
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_4.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Сайты
											span.icon
							.col-sm-6.mix.tab-pane-content-item.brand
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_5.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Бренд
											span.icon
							.col-sm-6.mix.tab-pane-content-item.content
								.tab-pane-content-wrapper
									.tab-pane-content-wrapper-image(style="background-image:url('/assets/templates/studionions/images/grid_6.jpg');")
									.tab-pane-content-wrapper-link
										a(href="javascript:;")
											span.title
												|Татьяна Алфеева
											span.text
												|Контент
											span.icon
						a.showlink.mt-60(href="javascript:;")
							|  