.trigger
	.section
		.name-block
			h2.h2
				|Проекты по направлениям:
		.section-tabs
			.tabs
				.tabs-menu
					a.tabs-link(href="javascript:;")
						span.tabs-link-text
							|Все
					a.tabs-link(href="javascript:;")
						span.tabs-link-text
							|Сайты
					a.tabs-link(href="javascript:;")
						span.tabs-link-text
							|Брэнд
					a.tabs-link(href="javascript:;")
						span.tabs-link-text
							|Контент
				.tabs-content
					.tab-pane
						.tab-pane-content
							.col-6(data-filter="")
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
							.col-6
								.tab-pane-content-wrapper
									.content-image(style="background-image:url('');")
									.content-link
										a(href="javascript;")
											span.text
												|
											span.icon
					